@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --font-family: 'Inter', sans-serif;
    --text-color: #ffffff;
    --bg-url: url("./assets/bg-mobile-dark.jpg");
    --bg-button: rgba(255, 255, 255, 0.1);
    --border-button: rgba(255, 255, 255 ,0.5);
    --hover-bg-button: rgba(255, 255, 255 ,0.5);
    --switch-bg-url: url("./assets/moon-stars.svg");
}

.light {
    --text-color: #000000;
    --bg-url: url("./assets/bg-mobile-light.jpg");
    --bg-button: rgba(0, 0, 0, 0.05);
    --border-button: rgba(0, 0, 0, 0.5);
    --hover-bg-button: rgba(0, 0, 0, 0.02);
    --switch-bg-url: url("./assets/sun.svg");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--text-color);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}

#profile {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 8px;
}

#profile img {
    width: 150px;
    margin: 0.8em;
}

#profile h1 {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    color: var(--text-color);
}

#switch {
    width: 64px;
    position: relative;
    padding: 4px 0;
}

#switch button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    background: #ffffff var(--switch-bg-url) no-repeat center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.light #switch button {
    right: 0;
    left: initial;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--bg-button);
    border: 1px solid var(--border-button);
    backdrop-filter: blur(4px); 
    border-radius: 9999px;
}

#links {
    width: 360px;
    height: 320px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.button {
    width: 312px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: var(--bg-button);
    border: 1px solid var(--border-button);
    backdrop-filter: blur(4px);
    border-radius: 8px;

    transition: background .2s;  /*controlar a velocidade da transição de animação*/
}

.button:hover {
    background: var(--hover-bg-button);
    border: 1.5px solid var(--text-color);
}

#links a {
    color: var(--text-color);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

#social-links {
    width: 360px;
    height: 88px;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    gap: 8px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: var(--text-color);
    border-radius: 50%;
    transition: background .2s;
}

#social-links a:hover {
    background: var(--bg-url);
}

footer {
    width: 360px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 8px;
}

footer h1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
}

footer h1 ion-icon {
    color: var(--text-color);
}

footer h1 a {
    color: var(--text-color);
    text-decoration: underline;
}